SignUpStyles.css
/* AuthStyles.css */

.auth-page {
  font-family: Arial, sans-serif;
  background: url('https://www.shutterstock.com/image-illustration/white-jigsaw-puzzle-human-brain-on-1079962475') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.auth-container {
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(187, 110, 245, 0.95));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.auth-form-group {
  margin-bottom: 15px;
}

.auth-label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.auth-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.auth-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-text {
  margin-top: 20px;
  color: white;
}

.auth-link {
  color: #ffdd57;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

.signup-container h2 {
  color: white;
  margin-bottom: 20px;
}

.signup-form-group {
  margin-bottom: 15px;
}

.signup-label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.signup-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.signup-button-page {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.signup-button-page:hover {
  background-color: #0056b3;
}

.signup-text {
  margin-top: 20px;
  color: white;
}

.signup-link {
  color: #ffdd57;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
