<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Document</title> -->
        <style>
            .ai-message {
                background-color: rgb(226, 223, 223);
                border: 2px sandybrown, rgb(219, 114, 219);
            }
        </style>
</head>
<body style="background: linear-gradient(to right, rebeccapurple, rgb(158, 147, 147));">
    <div class="ai-message">
        {{bot_response |safe }}
    </div>
    {{bot_response |safe }}
</body>
</html>

